@import "tailwindcss";
@import "./design/tokens.css";

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--color-app);
  color: var(--color-muted);
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
